In [4]:
if True:
    print ("right")

right

In [6]:
t = (1,2,3,4,5,5,4,3,5)
print(t.index(max(t)))

4

In [9]:
s1 = set()
s2 = set()
s1 = {1,2,3,4,5}
s2 = {5,6,7,8}
print(type(s2))

<class 'set'>

In [12]:
s_1 = s1.intersection(s2)
print(s_1)

s_2 = s1.difference(s2)
print(s_2)

s_3 = s1.union(s2)
print(s_3)

{5}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7, 8}